#jinja2: lstrip_blocks: True
interface vxlan{{ dmparams.loopbackint }}
  vxlan source-interface Lo{{ dmparams.loopbackint }}

{% for tenant, tenantparams in srvparams.tenants.iteritems() %}
vrf definition {{ tenant }}
  rd {{ infraparams.asn }}:{{ tenantparams.rd }}

ip routing vrf {{ tenant }}

{% for vlan,vlanparams in tenantparams.vlans.iteritems() %}
vlan {{ vlanparams.vlanid }}
  name {{ tenant }}-{{ vlan }}

{%- set leafinfra  = groups['leaves']|reject("equalto", inventory_hostname)|map('extract', hostvars, 'infraparams') -%}

interface vxlan{{ dmparams.loopbackint }}
  vxlan vlan {{ vlanparams.vlanid }} vni 10{{ vlanparams.vlanid }}
  vxlan vlan {{ vlanparams.vlanid }} flood vtep {{ leafinfra|map(attribute='loopbackaddr')|ipaddr('address')|list|join(',') }}

interface vlan{{ vlanparams.vlanid }}
  vrf forwarding {{ tenant }}
  ip address virtual {{ vlanparams.ip }}
  no shut

{% endfor %}{# vlan #}
{% for port, vlan in tenantparams.ports[inventory_hostname].iteritems() %}
interface {{ port }}
  switchport
  switchport mode trunk
  switchport trunk allowed vlan add {{ tenantparams.vlans[vlan].vlanid }}
  spanning-tree portfast edge
  spanning-tree bpduguard enable
  spanning-tree guard root
  switchport nonegotiate

{% endfor %}{# port #}
{% endfor %}{# tenant #}
