{# Grab the router ID (after the -) #}
{% set routerid = inventory_hostname.split("-")[1]|int %}
{# Set the loopback address based on ID. Spine ASN is baseasn #}
{% set loopbackaddr = dmparams.loopbackprefix|ipsubnet(32, -(routerid)-1) %}
{% set asn = dmparams.baseasn %}
loopbackaddr: {{ loopbackaddr }}
asn: {{ asn }}

{# Generate Interface IPs, peer ASN and peer IPs programatically #}
interfaces:
{% for intcount in range(0, dmparams.leaves) %}
  Eth{{ dmparams.firstuplink + intcount }}:
  {# We have to treat /31 differently as ipaddr doesn't behave consistently under these circumstances #}
  {% if dmparams.p2plength is equalto 31 %}
    ip: {{ dmparams.p2pprefix|ipsubnet(dmparams.p2plength, ((intcount * dmparams.maxspines) + (routerid - 1)))|ipaddr('-1') }}
    peerasn: {{ dmparams.baseasn + intcount + 1 }}
    peerip: {{ dmparams.p2pprefix|ipsubnet(dmparams.p2plength, ((intcount * dmparams.maxspines) + (routerid - 1))) }}
  {% else %}
    ip: {{ dmparams.p2pprefix|ipsubnet(dmparams.p2plength, ((intcount * dmparams.maxspines) + (routerid - 1)))|ipaddr('-2') }}
    peerasn: {{ dmparams.baseasn + intcount + 1 }}
    peerip: {{ dmparams.p2pprefix|ipsubnet(dmparams.p2plength, ((intcount * dmparams.maxspines) + (routerid - 1)))|ipaddr('1') }}
  {% endif %} 
{% endfor %}